.roomCard {
    background-color: #ffffff;
    display: block;
    flex: 1 1 500px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.roomCardList {
    display: flex;
    flex-wrap: wrap;
}