.navbar {
    position: sticky;
    top: 0;
    padding: 0;
    background-color: #14375b;
}
.navbarList {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: flex-start;
}
.navbarItem {
    padding-top: 24px;
    padding-bottom: 24px;
    display: inline;
    flex-basis: 200px;
    text-align: center;
}
.navbarItem > a {
    text-decoration: none;
    margin-right: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #ffffff;
}
.navbarItem > a:hover {
    font-weight: bold;
}
.navbarItem > img {
    max-width: 171px;
    min-width: 0;
    margin-right: 20px;
}